body {
    overflow: hidden;
    background-color: wheat;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.car {
  position: absolute;
  top: -16px;
  left: -8px;
  width: 16px;
  height: 32px;
  border-radius: 4px;
  background-color: #0066ff;
  will-change: transform;
}

.car.striped-car {
  background-image: url("../assets/images/Car\ Striped.png");
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;

    .start {
        display: block;
        position: absolute;
        background-color: red;
        color: #fff;
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
        box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-radius: 15px;
        top: 20px;
        left: calc(50vw - 95px + 60px);
        text-transform: uppercase;
        width: 190px;
        text-align: center;
        margin-left: -95px;
        text-decoration: none;
        visibility: visible;
    }

    .start:active {
        margin-top: 1px;
    }

    .ui-item {
        width: 135px;
        margin: auto;
        text-align: left;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        position: absolute;
        left: -20px;
        padding-left: 30px;
        box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .ui-item.timer {
        top: 20px;
        font-size: 10px;
        width: 160px;

        span {
            font-size: 8px;
            color: red;
        }
    }

    .ui-item.lives {
        top: 60px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;
            color: red;

            li {
                display: inline-block;
                font-size: 12px;
            }
        }
    }

}

.game-info {
    width: 300px;
    margin: auto;
    text-align: left;
    border-radius: 15px;
    height: 60px;
    background: #fff;
    position: absolute;
    right: -20px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.1);
    top: 20px;
    
    span {
        display: block;
        margin-top: 10px;
        font-size: 8px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.8);
    }
}

#modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal-content {
    position: relative;
    background-color: wheat;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    width: 20vw;
    height: 20vh;
    border: 1px solid wheat;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    a.restart-button {
        display: block;
        background-color: red;
        color: #fff;
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
        box-shadow: 5px 4px 0px 0px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-radius: 15px;
        text-transform: uppercase;
        width: 180px;
        text-align: center;
        text-decoration: none;
        margin-top: 30px;
    }

    .win-lose {
        margin-top: 20px;
    }

    .win-lose span {
        color: red;
        font-size: 12px;
        line-height: 20px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 15px;

    .footer-links {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        list-style-type: none;
        display: flex;
        align-items: center;
        font-size: 35px;
        
        li {
            color: rgba(76, 138, 152, 0.5);
        }

        a:not(:last-child) {
            margin-right: 20px;
        }

        a:hover {
            -webkit-filter: drop-shadow(0 0 0.75rem crimson);
        }
    }

    img {
        height: 35px;
        border-radius: 50%;
    }
}